- content_for :main_container do
  %header.page-header
    %h1.page-title
      Субнаправления
    .actions
      - if can? :manage, Field
        %a{href: new_main_field_field_path(@main_field)}
          %img{src: image_path('add.svg'), alt: 'Добавить направление'}

  .page-content
    = render 'fields/fields_list', fields: @main_field.fields