.errors
  = render 'shared/errors', object: @user_assignment

.col-12.card.bg-light
  .row
    .col-12.card-header
      .row
        .col-12
          %h3 Редактирование участника

    .col-12.card-body
      = render 'form'