.errors
  = render 'shared/errors', object: @issue

.col-12.card.bg-light
  .row
    .col-12.card-header
      %a.btn.btn-outline-secondary.btn-sm.back-button{ href: request.referer } Назад
      .row
        .col-12
          %h3 Создание задачи

    .col-12.card-body
      = render 'form'