%h1 All courses n shit
%ul
  - @courses.each do |course|
    %li
      %h2
        %a{:href => "#{project.id}/projects"}#{course.name}
      %p #{course.description}
      %span Curator id: #{course.curator_id}
