<<<<<<< HEAD
.errors
  = render 'shared/errors', object: @course

.col-12.card.bg-light
  .row
    .col-12.card-header
      .row
        .col-12
          %h3 Создание учебных материалов

    .col-12.card-body
      = render 'form'
=======

>>>>>>> c13ea4d0bf9df0463ee5f82d01255b642fb86b51
