.card {

  .card-body {

    .card-title {
      font-size: 2rem;
      font-family: 'Roboto', sans-serif !important;
    }

    .card-text {
      min-height: 150px;
      font-family: 'Roboto', sans-serif !important;
    }
  }
}
