@import "theme";

$notification-circle-size: 25px;

.notifications-circle {
 width: $notification-circle-size;
 height: $notification-circle-size;
 border-radius: 50%;
 background: #fff;

 text-align: center;
 line-height: $notification-circle-size;
 font-size: 0.9rem;
 color: $primary_color;
}

.notifications-circle:hover {
 text-decoration: none;
 color: $secondary_color;
}
