#nav-description {
  font-size: 1.3rem;
}


.projects-table {
  .name {
    width: 15%;
  }

  .short-description {
    width: 39%;
  }

  .cofield {
    width: 15%;
  }

  .stage {
    width: 15%;
  }

  .bortik {
    width: 8%;
  }

  .nti {
    width: 8%;
  }


}
