%ul.attachments.list-inline
  - obj.attachments.each do |a|
    - if a.persisted?
      %li{ class: "attachment_#{a.id}" }
        = link_to a.file.identifier, a.file.url
        - if can?(:destroy, a)
          = link_to 'delete', attachment_path(a), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: "btn btn-outline-secondary btn-sm"
