.col-12.card
  .row
    .col-12.card-header
      %h5.text-left
        = @user_application.user.full_name
    .col-12.card-body
      = @user_application.body

      = link_to 'Отклонить', user_application_reject_path(@user_application), method: :delete, class: "btn btn-outline-secondary btn-sm", data: { confirm: "Вы уверены?" }
      = link_to 'Принять', user_application_accept_path(@user_application), method: :delete, class: "btn btn-outline-secondary btn-sm", data: { confirm: "Вы уверены?" }
