- content_for :main_container do
  %header.page-header
    %h1.page-title
      Направления
    .actions
      - if can? :manage, Field
        %a{href: new_field_path}
          %img{src: image_path('add.svg'), alt: 'Добавить направление'}

  .page-content
    = render 'fields/fields_list', fields: @fields
